/*---------GENERAL---------*/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: rgb(204, 204, 255);
}
.header {
  background: rgb(204, 204, 204);
  height: 200px;
  text-align: center;
}
#universidad {
  font-size: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 30px;
}
.logo {
  float: left;
  margin-top: 25px;
  margin-left: 50px;
}
.banner {
  background: rgb(153, 153, 255);

  height: 25px;
}
.menu {
  text-align: center;
}
#regresar {
  width: 70px;
  height: auto;
  text-align: center;
}
/*---------ALUMNO---------*/
.alumno {
  text-align: center;
}
.horario_alumno {
  position: relative;
  width: 900px;
  height: 400px;
  background: rgb(240, 240, 240);
  float: left;
  margin-left: 25px;
}
.horario_alumno::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
.datos_alumno {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgb(240, 240, 240);
  float: left;
  margin-left: 70px;
}
.datos_alumno::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
/*---------ASPIRANTE---------*/
.inscripcion {
  text-align: center;
}
.datos_inscripcion {
  position: relative;
  width: 900px;
  height: 550px;
  background: rgb(240, 240, 240);
  float: center;
  margin-left: 25px;
}
.datos_inscripcion::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
/*---------PREREINSCRIPCION---------*/
.horario_prereinscripcion {
  position: relative;
  width: 90%;
  height: 75%;
  background: rgb(240, 240, 240);
  float: center;
  margin-left: 25px;
}
.horario_prereinscripcion::after {/*sombreadro*/
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
.datos_alumno {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgb(240, 240, 240);
  float: left;
  margin-left: 70px;
}
.datos_alumno::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
/*---------INDEX---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
  --padding-container: 10px 0;
  --color--tittle:#000000; 
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(204, 204, 255);
}
.banner {
    background: rgb(153, 153, 255);
    height: 25px;
  }
  .header {
    background: rgb(204, 204, 204);
    height: 200px;
    text-align: center;
  }

  .nav_link{
    margin: 10;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;

  }
   .nav_items{
    list-style: none;
   }
   .nav_links{
    color:#000000;
    text-decoration: none;
   }

   .about{
    text-align: center;
   }
   .about_paragraph{
    line-height: 1.5;
   }
   .about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
   }
   .about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
   }

*{
  margin:0;
  padding: 0;
  outline:0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: 100%;
}
.contenedor{
  width: 100%;
  position: relative;
  height: 780;
}
.botones{
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50px;
  background-color: rgb(211, 211, 211);
  text-align: center;
  font-weight: bold;
  position: absolute;
  color: rgb(211, 211, 211);
  box-shadow: 0 0 10px rgb(204, 204, 204);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.botones:hover{
  cursor: pointer;
  transform: scale(1.2,1.2);
}
.atras{
  left:2%;
  top: calc(50% - 70%);
}
.adelante{
  left:2%;
  top: calc(50% - 70%);
}