/*---------GENERAL---------*/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: rgb(204, 204, 255);
}
.header {
  background: rgb(204, 204, 204);
  height: 200px;
  text-align: center;
}
#universidad {
  font-size: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 30px;
}
.logo {
  float: left;
  margin-top: 25px;
  margin-left: 50px;
}
.banner {
  background: rgb(153, 153, 255);

  height: 25px;
}
.menu {
  text-align: center;
  font-size: 30px;
  margin: 2px;
}
.menu a {
  text-decoration: none;
}
#regresar {
  width: 70px;
  height: auto;
  text-align: center;
}
/*---------SLIDER---------*/
.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate ease-in;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 500px;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*---------ALUMNO---------*/
.alumno {
  text-align: center;
}
.horario_alumno {
  position: relative;
  width: 900px;
  height: 400px;
  background: rgb(240, 240, 240);
  float: left;
  margin-left: 25px;
}
.horario_alumno::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
.datos_alumno {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgb(240, 240, 240);
  float: left;
  margin-left: 70px;
}
.datos_alumno::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
/*---------ASPIRANTE---------*/
.inscripcion {
  text-align: center;
}
.datos_inscripcion {
  position: relative;
  width: 900px;
  height: 550px;
  background: rgb(240, 240, 240);
  float: center;
  margin-left: 25px;
}
.datos_inscripcion::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
/*---------PREREINSCRIPCION---------*/
.horario_prereinscripcion {
  position: relative;
  width: 90%;
  height: 75%;
  background: rgb(240, 240, 240);
  float: center;
  margin-left: 25px;
}
.horario_prereinscripcion::after {
  /*sombreadro*/
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
.datos_alumno {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgb(240, 240, 240);
  float: left;
  margin-left: 70px;
}
.datos_alumno::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  width: 100%;
  height: 100%;
  background: black;
  filter: blur(10px);
  z-index: -1;
}
/*---------FOOTER---------*/
footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}
.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.content-foo {
  text-align: center;
}
.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid #af20d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.content-foo p {
  color: #ccc;
}
.titulo-final {
  text-align: center;
  font-size: 25px;
  margin: 20px 0 0 0;
  color: #9e9797;
}
